<main th:fragment="content" xmlns:th="http://www.thymeleaf.org">
<script>
function loadTour(tourId) {
	$(document).ready(function () {
		var url = '/tour/detail/' + tourId + '/';

		$.get(url, function(tour) {
			$('#tour-detail-body').html($(tour).find('#tour-detail-source-body'));
			$('#tour-detail-footer').html($(tour).find('#tour-detail-source-footer'));
			$("#tour-detail-target").modal();
		});
	});
}
</script>

	<article>
		<h1>Zájezdy</h1>

		<div class="btn-toolbar" role="toolbar" aria-label="Nástroje">
			<div class="btn-group" role="group">
				<a href="/tour/createTour/" class="btn btn-default btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Přidat zájezd</a>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Destinace</th>
						<th>Ubytování</th>
						<th>Stravování</th>
						<th>Doprava</th>
						<th>Od</th>
						<th>Do</th>
						<th>Cena</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody th:each="tour : ${tours}">
					<tr>
						<td th:text="${tour.country.countryName}"></td>
						<td th:text="${tour.accommodation.name}"></td>
						<td th:text="${tour.catering.name}"></td>
						<td th:text="${tour.transportType.name}"></td>
						<td th:text="${#joda.mediumDate(tour.dateFrom)}"></td>
						<td th:text="${#joda.mediumDate(tour.dateTo)}"></td>
						<td th:text="${tour.price}"> Kč</td>

						<td><span th:onclick="|loadTour('${tour.tourID}')|" class="btn btn-default btn-primary" title="Zobrazit"><span class="glyphicon glyphicon glyphicon-eye-open" aria-hidden="true"></span></span></td>
						<td><a th:href="@{/tour/updateTour(id=${tour.tourID})}" class="btn btn-default" title="Upravit"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
						<td><a th:href="@{/tour/delete(id=${tour.tourID})}" class="btn btn-default btn-danger" title="Odstranit"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal fade" id="tour-detail-target" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h2 class="modal-title">Detail zájezdu</h2>
					</div>

					<div class="modal-body" id="tour-detail-body">
						<div class="table-responsive">
							<table id="tour-detail-table" class="table table-striped">
								<!--bude naplnena pomoci JS-->
							</table>
						</div>
					</div>

					<div class="modal-footer" id="tour-detail-footer">
						<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span> Odstranit</button>
						<button type="button" class="btn btn-default"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span> Upravit</button>
						<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Objednat</button>
					</div>
				</div>
			</div>
		</div>

		<nav>
			<ul class="pagination">
				<li><a href="#" aria-label="Předchozí"><span aria-hidden="true">&laquo;</span></a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" aria-label="Další"><span aria-hidden="true">&raquo;</span></a></li>
			</ul>
		</nav>
	</article>
</main>
