<main th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <article>
        <h1>Nový zájezd</h1>

        <div>
        <form id="new-tour-form" role="form" th:action="@{/tour/save/}" method="post" th:object="${tour}">
            <div>
                <label for="country">Země:</label>
                <select id="country" th:field="${tour.country}" th:remove="all-but-first">
                    <option th:each="country : ${countries}"
                            th:value="${country}" th:text="${country.countryName}"></option>
                </select>
            </div>
            <div>
                <label for="types">Typ zájezdu:</label>
                <select id="types" th:field="${tour.type}" th:remove="all-but-first">
                    <option th:each="type : ${types}"
                            th:value="${type}" th:text="${type.name}"></option>
                </select>
            </div>
            <div>
                <label for="transports">Typ dopravy:</label>
                <select id="transports" th:field="${tour.transportType}" th:remove="all-but-first">
                    <option th:each="transport : ${transports}"
                            th:value="${transport}" th:text="${transport.name}"></option>
                </select>
            </div>
            <div>
                <label for="categories">Kategorie:</label>
                <select id="categories" th:field="${tour.category}" th:remove="all-but-first">
                    <option th:each="category : ${categories}"
                            th:value="${category}" th:text="${category.name}"></option>
                </select>
            </div>
            <div>
                <label for="cateringTypes">Stavování:</label>
                <select id="cateringTypes" th:field="${tour.catering}" th:remove="all-but-first">
                    <option th:each="catering : ${cateringTypes}"
                            th:value="${catering}" th:text="${catering.name}"></option>
                </select>
            </div>
            <div>
                <label for="accommodationTypes">Typ ubytování:</label>
                <select id="accommodationTypes" th:field="${tour.accommodation}" th:remove="all-but-first">
                    <option th:each="accommodation : ${accommodationTypes}"
                            th:value="${accommodation}" th:text="${accommodation.name}"></option>
                </select>
            </div>
            <div>
                <label for="dateFrom">Od:</label>
                <input type="text" id="dateFrom" name="dateFrom" th:field="${tour.dateFrom}"/>
            </div>
            <div>
                <label for="dateTo">Do:</label>
                <input type="text" id="dateTo" name="dateTo" th:field="${tour.dateTo}"/>
            </div>
            <div>
                <label for="price">Cena:</label>
                <input type="text" id="price" name="price" th:field="${tour.price}"/>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        </div>
    </article>
</main>