<!DOCTYPE html>

<html lang="cs" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="utf-8" />

		<title>BRACES</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="./favicon.ico" />
		<meta name="author" content="Scorpio" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="snippet, archive" />

		<link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/resources/css/style.css" />
		<script src="/resources/js/jquery-1.12.0.min.js"></script>
		<script src="/resources/js/script.js"></script>
	</head>
	<body>

<!--TOP-BAR-->
		<div id="top-bar">
			<!--
			<nav id="account-navigation">
				<a href="/ucet/">Přihlášení</a>
				<a href="/odhlaseni/">Registrace</a>
			</nav>-->
			<nav id="account-navigation">
				<a href="/ucet/">Účet</a>
				<a href="/odhlaseni/">Odhlášení</a>
			</nav>
			<nav id="language-navigation">
<!-- 				<a href="?language=cs" hreflang="cs" class="selected"><abbr lang="cs" title="Czech">cs</abbr></a> -->
<!-- 				<a href="?language=en" hreflang="en"><abbr lang="en" title="English">en</abbr></a> -->
				<a href="?language=cs" hreflang="cs" th:class="(__${#locale}__=='cs'?'selected':'')"><abbr lang="cs" title="Czech">cs</abbr></a>
				<a href="?language=en" hreflang="en" th:class="(__${#locale}__=='en'?'selected':'')"><abbr lang="en" title="English">en</abbr></a>
			</nav>
		</div>

<!--HEADER-->
		<header id="main-header">
			<img src="/resources/images/logo.png" alt="BRACES" />
		</header>

		<div id="wrapper">

<!--NAVIGATION-->
			<nav id="main-navigation">
				<a href="">Zájezdy</a>
				<a href="">Smlouvy</a>
				<a href="">Reporty</a>
				<a href="">Export na Web</a>
				<a href="">Rezervace</a>
					<a href="">Jízdenky</a>
					<a href="">Letenky</a>
					<a href="">Hotely</a>
				<a href="">Účetnictví</a>
				<a href="">Pojištění</a>
			</nav>

<!--MAIN-CONTENT-->
			<main>
				<!--HLAVNÍ OBSAH WEBU !!!!!!!!!!!!!!!!!!!!!-->
				<p th:text="${testAtr}">Static text </p>
				<p th:text="#{layout.testMessage}">Static text 3</p>
				<p th:text="${#locale}">
<!-- 				<spring:message code="layout.testMessage" text="default text" /> -->
				 
				</p>
				<article th:replace="${view} :: content">Content</article>
			</main>
		</div>

<!--FOOTER-->
		<footer id="main-footer">
			&copy; 2016 BRACES | Scorpio
		</footer>
	</body>
</html>