<main th:fragment="content" xmlns:th="http://www.thymeleaf.org">
	<script src="/resources/js/chart.min.js"></script>
	
	<article>
		<h1>Reporty</h1>

		<h2>Smlouvy</h2>
		<canvas id="contracts-chart" width="1600" height="400"></canvas>

		<h2>Destinace</h2>
		<div style="width: 300px; height: 200px; margin-top: 20px; float: left;">
			<canvas id="country-chart"></canvas>
		</div>
		
		<div style="width: 300px; height: 200px; margin-top: 20px; float: left;">
			<canvas id="city-chart"></canvas>
		</div>
		
		<div style="width: 300px; height: 200px; margin-top: 20px; float: left;">
			<canvas id="hotel-chart"></canvas>
		</div>
	</article>

    <div th:text="${day}" id="report-day-data" style="display: none;"></div>
    <div th:text="${data1}" id="report-data1-data" style="display: none;"></div>
    <div th:text="${data2}" id="report-data2-data" style="display: none;"></div>


<script>
var options = {
	animationSteps : 60,
	animationEasing : "easeInExpo",
	responsive: true,
	bezierCurve : true,
	scaleBeginAtZero: true,
};

var data = {
    labels: $('#report-day-data').text().split(","),
    datasets: [
        {
            label: "Uzavřené smlouvy",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: $('#report-data1-data').text().split(",")
        },
        {
            label: "Vypovězené smlouvy",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: $('#report-data2-data').text().split(",")
        }
    ]
};

var ctx = document.getElementById("contracts-chart").getContext("2d");
var myLineChart = new Chart(ctx).Line(data, options);
	
var data = [
    {
        value: 300,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Itálie"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Řecko"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Španělsko"
    }
]

var ctx = document.getElementById("country-chart").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data,options);
	
var data = [
    {
        value: 100,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Řím"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Athény"
    },
    {
        value: 120,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Madrid"
    }
]

var ctx = document.getElementById("city-chart").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data,options);
	
	
var data = [
    {
        value: 50,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Hotel1"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Hotel2"
    },
    {
        value: 50,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Hotel3"
    }
]

var ctx = document.getElementById("hotel-chart").getContext("2d");
var myDoughnutChart = new Chart(ctx).Doughnut(data,options);
</script>
</main>	
